@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* this will reset the default margi and padding supported by browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
:root {
  --bodymain: rgb(47, 177, 197);
  --hover: rgb(123, 211, 225);
  --btnhover: rgb(88, 153, 163);
  --heading: rgb(56, 169, 186);
  --shadow: skyblue; 
  --piccolor:rgb(27, 124, 139); 
  /* --bodymain: rgb(13, 16, 16);
  --hover: rgb(172, 111, 42);
  --btnhover: rgb(201, 101, 43);
  --heading: rgb(184, 96, 25);
  --shadow: rgb(205, 131, 74); 
  --piccolor:rgb(195, 82, 30);  */
  /* --bodymain:rgb(180, 16, 164);
  --hover:rgb(193, 62, 182);
  --btnhover:rgb(183, 44, 148);
  --heading:rgb(176, 33, 143);
  --shadow:rgb(197, 67, 197);
  --piccolor:rgb(123, 14, 99); */
}
body{
  /* background-color: black; */
  scroll-behavior: smooth;
}


header {
  margin: 0;
  padding: 0;
/* height: 60px; */
    background-color: rgb(47, 177, 197);
   font-family:'poppins','sens-sarif';
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 999;
  }
  nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0%;
    background-color: rgba(46, 143, 158, 0.771);
    
    display: none;
    width:100%;
  }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
  }
  nav li {
    margin-bottom: 1em;
    margin-left: 1em;
  }
  nav a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  nav a:hover {
    color: aliceblue;
  }
  .nav-toggle:checked ~ nav {
    display: block;
  }
  .nav-toggle {
    display: none;
  }
  .nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0.79em;
    margin-top: -0.23em;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    display: block;
    height: 2px;
    width: 1.6rem;
    border-radius: 2px;
    background: black;
    position: relative;
  }
  .nav-toggle-label span::before,
  .nav-toggle-label span::after  {
    content: "";
   position: absolute;
  }
  .nav-toggle-label span::before{
    bottom: 7px;
  }
  .nav-toggle-label span::after{
    top: 7px;
  }
  nav {
    position: absolute;
    text-align: left;
    left: 0;
    top: 100%;
  }
  .nav_btn{
    /* margin: 0.43em 0.43em; */
    /* padding: 1em 1em; */
    margin-left:1.2em;
  }
  .logo{
    float:left;
    margin-right: 0.50em ;
    margin-top: 0.50em;
    margin-left: 1em;
    
  }
  .btnn{
     padding:0.45em 1em; 
    margin:0.98em 0.14em; 
    /* margin-left:2em; */
  }
 
main .scale::before {
  content: "";
  background: url(../Assets/home.jpg) no-repeat center center/cover;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.78;
  /* background-attachment: fixed; */
  
}
.scale {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* max-width: 1250em; */
  height: 40em;
  /* overflow: hidden; */
  
}
.same {
  margin-top: 1.2em;
}
.p-heading {
  font-size: 5em;
  color: var(--heading);
  text-shadow: 3px 2px 2px black;
  font-family: "Arvo", serif;
  text-align: center;
  font-weight: 200;
}
.para {
  font-size: 1.3em;
  color: white;
  text-shadow: 2px 2px 2px black;
  margin-top: 0.43em;
  
}

.bla {
  font-size: 1.5em;
  padding: 0.40em 1em;
  margin: 1em;
  background-color: var(--hover);
  border-radius: 5px 5px 5px 5px;
  transition: transform 0.3s ease 0s;
  font-family: "Poppins", sans-serif;
}
.bla:hover {
  background-color: var(--btnhover);
  color: white;
  transform: translatey(-4px);
  cursor: pointer;}
  .nav_btn{
margin-left:4em;
  }
.blaa{
  /* font-size: 1.5em; */
  /* padding: 0.40em 1em; */
  /* margin: 1em; */
  background-color: var(--hover);
  border-radius: 5px 5px 5px 5px;
  transition: transform 0.3s ease 0s;
  font-family: "Poppins", sans-serif;
}
.blaa:hover {
  background-color: var(--btnhover);
  color: white;
  transform: translatey(-4px);
  cursor: pointer;


}
.cool{
color:var(--piccolor);
text-shadow: 3px 2px 2px black"
}
/* SERVICES */
.ps-heading {
  font-size: 3em;
  text-align: center;
  /* margin-bottom: 0px; */
  /* text-shadow: 2px 2px 2px var(--shadow); */
  font-family: "Arvo", serif;
  color: var(--heading);
  text-shadow: 3px 2px 2px black;
  margin-top:0.60em;
}
/* UTILITY CLASSES */
/* FOR HEADING */
.border{
  border-bottom: 3px groove var(--heading);
  /* box-shadow: 0px 2px 2px var(--shadow);
  padding: 2px 9px; */

}
/* Boxes */
.boxes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin:1em 1em;
  padding: 1em 1em;
  flex-wrap: wrap;
}

.jin {
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  padding-top:1em;
  text-shadow: 2px 2px 2px var(--shadow);
}

.post {
  /* background-color: brown; */
  box-sizing: border-box;
  text-align: center;
  height:15em;
  width: 18em;
  padding: 1em 1em;
}
.box1 {
  border: 2px solid var(--btnhover);
  /* margin: 23px 61px; */
  background-color: rgb(247, 241, 241);
  box-shadow: 3px 2px 2px var(--shadow);
  transition: transform 0.3s ease 0s;
  /* z-index:-1; */
}
.box1:hover {
  transform: translatey(-8px);
  cursor: pointer;
  /* z-index:-2; */
}
.gap {
  margin-top: 2em;
  margin-bottom: 1.4em;
}
.gapabout {
  margin-bottom: 1em;
}
.forimg::before {
  content: "";
  background: url(../Assets/aboutpic.jpg)
    no-repeat center center/cover;
  z-index: -1;
  width: 100%;
  height:75%;
  position: absolute;
  /* top: 0px;
  left: 0px; */
  opacity: 0.89;
}
.aboutbox {
  display: flex;
  justify-content: space-between;
  /* background-color: blue; */
  /* flex-wrap: wrap; */
 
}

.aboutimg {
  width: 100%;
  margin-left: 3em;
  margin-right: 4em;
 
}

.bull {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--btnhover);
  background-color: rgb(247, 241, 241);
  margin-right: 2em;
  margin-bottom: 1em;
  flex-wrap: wrap;
/* margin-top: 1em; */
  
}

.aboutp {
  font-family: "poppins", serif;
  padding-top: 1em;
  padding-left: 1.3em;
  /* word-spacing: 1em; */
}
.aboutpp {
  font-family: "poppins", serif;
  text-align: justify-all;
  line-height: 2;
  padding-left: 2em;
  padding-top: 1em;
}
.abouth {
  font-family: "arvo", serif;
  font-size: 4em;
  padding-left: 1em;
  color: var(--heading);
  text-shadow: 2px 2px 2px black;
}
.aboutbtn {
  font-size: 2em;
  width: 30%;
   

}
label {
  display: block;
}
/* body{
  padding-left:auto;
  padding-right:auto;
} */
/* .formbody{
  background-color: aquamarine;
  
} */
.container {
  display: flex;
  justify-content: center;
  /* margin-top: 97px; */
  /* width:100%; */
}
.formmain {
  border-top: 3px solid var(--hover);
  border-right: 3px solid var(--hover);
  border-bottom: 3px solid var(--hover);
  box-shadow: 2px 3px 6px black;
  background-color: rgb(247, 241, 241);
  /* border:3px solid blue; */
  /* display: inline-block;
 
  
  margin-top:32px;
  */
  /* border-radius:30px; */

  /* margin-left: 237px;
   margin-right:237px; */
  /* padding: 31px 67px 30px 67px; */
  /* border-right-width: margin; */
  padding:40px 25px;
}

.formfont {
  font-family: "Poppins", sans-serif;
}
input {
  /* width: 100%; */
  font-size: 1.3em;
}
/* .checkbox{
    width: unset;
  } */
.formp {
  font-size: 1.3em;
}
.edit{
  
    width: 300px;
    height: 200px;
    resize: none;
}
textarea::placeholder {
  color: #999;
  font-style: italic;
}
#name,
#email,
#age {
  width: 90%;
  /* margin:12px; */
  /* padding-left: 3px;
    margin-right: 546px; */
}
.size {
  font-size: 1.3em;
}
label {
  margin-top: 12px;
}
.formbtn {
  width: 90%;
  margin-top: 12px;
  margin-left: 200px;
}
.cc {
  background-color: rgb(29, 28, 28);
  color: white;
  padding-bottom: 80px;

  /*  */
}
.footer{
  width: 100%;
}
.contacth {
  margin-top: 10px;
  padding-top: 90px;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
}
#address {
  box-sizing: border-box;
  background-color: bisque;
  width: 50px;
  border-radius: 50%;
  border: 1px solid rgb(146, 113, 74);
}
.icons {
  display: flex;
  justify-content: space-evenly;
  align-items: space-evenly;
  flex-wrap: wrap;
}
.icon {
  margin-top: 56px;
  text-align: center;
  flex-wrap: wrap;
}
.scs {
  transition: transform 0.3s ease 0s;
}
.scs:hover {
  transform: translatey(-8px);
  cursor: pointer;

}
.hee {
  color: bisque;
}
.copyright {
  text-align: center;
  margin-top: 60px;
  /* background-color: black; */
 
}
.spancc{
     
      background-color: rgb(90, 82, 82); 
      padding:7px 15px; border-radius: 20px;
}
@media screen and (max-width: 1070px)
{
  .aboutbox{
    flex-direction: column;
  }
  .scale{
    flex-direction: column;
    height:100%;
  }
  .p-heading{
    margin-top: 2em;
  }
  
  
  .nav__commands{
    display:none;
  
  }
  .ps-heading{
    margin-top: 2em;
  }
  .gapabout{
    margin-top: 0.45em;
  }
  .gap{
    margin-top: 0.45em;
  }
  .logo{
    float:right;
   margin-top: 0.34em; 
    margin-bottom: 0.34em;
   /* padding-bottom: 14px; */
  }
}
@media screen and (min-width:1060px){
  .nav-toggle-label{
    display:none;
  }
 
  nav{
    all:unset;
    /* position: none; */
  
  }
  nav ul{
   
    display:flex;
    flex-direction:row;
    margin:1em;
    align-items:center;
    justify-content: center;
  }
 
  
  .btnn{
    float:right;
  }
  .order {
 
    border-radius: 10px 10px 10px 10px;
   
    transition: transform 0.3s ease 0s;
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    padding:1px 7px;
  
  }
  .order:hover {
    background-color: var(--hover);
    color: white; 
    cursor: pointer;
    transform: translatey(-4px);
  }
  .btn {
    margin: 1em 1em; 
    padding: 0.42em 0.62em;
    background-color: var(--hover);
    border-radius: 5px 5px 5px 5px;
    transition: transform 0.3s ease 0s;
    font-family: "Poppins", sans-serif;
    font-size:1em;
  }
  .btn:hover {
    background-color: var(--btnhover);
    color: white;
    transform: translatey(-4px);
    cursor: pointer;}
    nav li {
      margin-bottom: 2px;
      margin-left: 3em;
      margin-top: 4px;
    }
    
}
@media screen and (max-width:1060px){
  .spancc{
      background-color: rgb(107, 100, 95);
      padding: 0;
    }
    .forimg::before {
    height:100%;
    }
    .container img{
      display:none;
    }
    .formbtn{
      width:40%;
    }
    .aboutbox{
      margin:0;
    }
    .aboutimg{
      margin:0;
    }
    .bull{
      width:100%;
      /* margin:0px; */
      margin-top: 2em;
    }
    .box1{
      margin-bottom: 1.9em;
    }
    .para{
      text-align: center;
    }
    .aboutbtn{
      font-size: 1.3em;
      width: auto;
      margin: auto;
      margin-bottom: 1em;
      margin-top: 1em;
    }
    .formbtn{
      width:80%;
      margin: auto;
      margin-top: 1em;
    }
   
}